# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
/.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# local env files
.env*.local
.env
# Keep .env.example
!.env.example

# typescript
*.tsbuildinfo

# editors
.idea
.vscode
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.swp
*.swo

# generated native folders (Managed Workflow)
# If you 'prebuild' or eject, remove these lines to commit native code
/ios
/android

# testing
coverage/
jest.config.js
__snapshots__/

# logs
*.log
